**หัวข้อ iterable (Tuple List Dictionary Set)**

# Tuple
เป็นชนิดตัวแปรที่เก็บข้อมูลหลายข้อมูลเอาไว้ในตัวแปรเดียวกัน เมื่อประกาศค่าแล้วจะไม่สามารถเปลี่ยนแปลงค่าที่เก็บไว้ได้

In [ ]:
tup = ("hello world", 123, 10.00, True)
print(tup)

ซึ่งมีการจัดลำดับข้อมูลนับจาก 0 สามารถใช้ ฟังชั่น len นับจำนวนข้อมูลใน Tuple ได้

In [ ]:
tup = ("hello world", 123, 10.00, True)
print(len(tup))

การสร้าง Tuple 1 ค่าต้องมี Comma ตามหลังข้อมูลที่ใส่ด้วย

In [ ]:
tup = ("hello world",)
print(type(tup))

tup = ("hello world")
print(type(tup))

การเข้าถึงข้อมูลใน Tuple โดยใช้ลำดับของข้อมูลเริ่มตั้งแต่เลข 0 การนับเลขจากข้างหลังมาข้างหน้าจะเริ่มที่ -1 หรือเข้าถึงข้อมูลโดยการระบุ range โดยที่

In [ ]:
tup = ("hello world", 123, 10.00, True)
# [ ลำดับที่ต้องการ ]
print(tup[0], tup[1], tup[-1], tup[-2])
# [ เริ่ม : หยุด]
print(tup[0:3])
# [ เริ่ม : หยุด : step ]
print(tup[0:4:2])
# ใช้ค่า Default ของ Range โดยที่
# เริ่ม มีค่า Default = ตัวแรก
print(tup[:2])
# หยุด มีค่า Default = ตัวสุดท้าย
print(tup[1:])
# step มีค่า Default = ไปทีละหนึ่งตัว
print(tup[0:4:])

สามารถใช้ in เพื่อตรวจสอบว่ามีข้อมูลที่ต้องการดูอยู่ใน Tuple หรือไม่ โดยคืนค่าเป็น True หรือ False

In [ ]:
tup = ("hello world", 123, 10.00, True)
if "hello world" in tup:
    print("hello world in tuple")

Unpack หรือการนำข้อมูลที่อยู่ใน Tuple มาใส่ไว้ในตัวแปรแต่ละตัวแปรทำได้โดย จำนวนตัวแปรต้องมีขนาดเท่ากับจำนวนข้อมูลใน Tuple

In [ ]:
tup = ("hello world", 123, 10.00, True)

(txt, interger, floating, booleans) = tup

print(txt)
print(interger)
print(floating)
print(booleans)

# หรือใช้ * เพื่อทำให้ค่าตัวแปรจากการ Unpack ที่เหลือแปลงเป็น List ใส่ในตัวแปรตัวนั้นทั้งหมด

tup = ("hello world", 123, 10.00, True)

(txt, *number, booleans) = tup

print(txt)
print(number)
print(booleans)

การ Loop เอาข้อมูลออกมาใช้ได้ทั้ง for loop และ while โดยที่

In [ ]:
tup = ("hello world", 123, 10.00, True)
for x in tup:
    print(x)
print("------------")
# หรือใช้ช่วง range() รันตัวเลขจาก ขนาดของข้อมูล len() แล้วนำตัวเลขที่ได้มาเข้าถึง Tuple
for i in range(len(tup)):
  print(tup[i], "index %d"%i)
print("------------")
#หรือใช้ While loop
i = 0
while i < len(tup):
    print(tup[i], "index %d"%i)
    i = i + 1

Join การรวม Tuple เข้าด้วยกันโดยใช้เครื่องหมาย + หรือ ใช้ * ในการคูณค่าเดิมเข้าไปตามจำนวนเลขที่เอาไปคูณ

In [ ]:
tup1 = ("hello world", 123)
tup2= (10.00, True)

tup3 = tup1 + tup2
print(tup3)

tup4 = tup3 * 2
print(tup4)

Methods มี 2 build-in methods ที่สามารถใช้ได้ใน Tuple
1. Count() นับจำนวนข้อมูลที่ต้องการใน Tuple
2. index() หาตำแหน่งข้อมูลที่อยู่ใน Tuple

In [ ]:
tup = ("hello world", 123, 123, 10.00, True)

x = tup.count(123)

print(x)

tup = ("hello world", 123, 10.00, True)

x = tup.index(True)

print(x)

# List
เป็นชนิดตัวแปรที่เก็บข้อมูลหลายข้อมูลเอาไว้ในตัวแปรเดียวกันเหมือนกับ Tuple แต่สามารถเปลี่ยนแปลงค่าได้แม้จะประกาศค่าไปแล้วก็ตาม

In [ ]:
lst = ["hello world", 123, 10.00, True]
print(lst)

ซึ่งมีการจัดลำดับข้อมูลนับจาก 0 สามารถใช้ ฟังชั่น len นับจำนวนข้อมูลใน List ได้
ใช้ list() ในการแปลงข้อมูลที่เป็น tuple ให้เป็น ตัวแปรชนิด List ได้

In [ ]:
lst1 = ["hello world", 123, 10.00, True]
print(len(lst1))

lst2 = list(("hello world", 123, 123, 10.00, True))
print(lst2)

การเข้าถึงข้อมูลใน List สามารถทำได้เหมือนกับการเข้าถึงข้อมูลของ Tuple

In [ ]:
lst = ["hello world", 123, 10.00, True]
print(lst[0], lst[1], lst[-1], lst[-2])

print(lst[0:3])

print(lst[0:4:2])

print(lst[:2])

print(lst[1:])

print(lst[0:4:])

สามารถใช้ in ได้เหมือนกับ Tuple

In [ ]:
lst = ["hello world", 123, 10.00, True]
if "hello world" in lst:
    print("hello world in tuple")

List สามารถเปลี่ยนแปลงค่าได้โดย
1. ระบุตำแหน่งที่ต้องการจะเปลี่ยน
2. ระบุเป็นช่วงที่ต้องการจะเปลี่ยน
3. ใช้ insert() method เพื่อแทรกข้อมูลเข้าไปใน List

In [ ]:
lst1 = ["hello world", 123, 10.00, True]
lst1[1] = 456
print(lst1)

lst2 = ["hello world", 123, 10.00, True]
lst2[1:3] = [789, 11.00]
print(lst2)

# insert(ตำแหน่งที่จะเอาข้อมูลไปแทรกข้างหน้า, ค่าที่ต้องการเอาไปแทรก)
lst3 = ["hello world", 123, 10.00, True]
lst3.insert(2, "Text")
print(lst3)

การเพิ่มข้อมูลลงใน List ทำได้หลายแบบโดย
1. ใช้ append() method เพื่อนำข้อมูลลงใน List ต่อท้าย
2. ใช้ insert() method ตามข้างบน
3. ใช้ extend() method เพิ่อนำข้อมูลที่อยู่ในตัวแปรหลายข้อมูล เช่น Tuple List Dictionary หรือ Set มารวมอยู่ใน List นั้นๆ

In [ ]:
lst1 = ["hello world", 123, 10.00, True]
lst1.append("Last")
print(lst1)

lst3 = ["hello world", 123, 10.00, True]
lst_ex = ["hello Oof", 456, 11.000, False]
lst3.extend(lst_ex)
print(lst3)

การลบข้อมูลของ List ทำได้โดย
1. ใช้ remove() method กรอกข้อมูลที่ต้องการลบใน List ไล่ลบทีละข้อมูลจากซ้ายไปขวา
2. ใช้ pop() method Default สำหรับลบค่าที่อยู่ข้างหลังสุดของข้อมูลใน List หรือใส่ตำแหน่งที่ต้องการลบก็ได้
3. ใช้ del ลบตัวแปรออกไปเลย หรือ ใส่ช่วงที่ต้องการลบของตัวแปร List นั้น
4. ใช้ clear() method ใช้ล้างข้อมูลข้างใน List ทั้งหมดกลายเป็น List ที่ข้อมูลข้างในไม่เหลือเลย [ ]

In [ ]:
lst1 = ["hello world", 123, 10.00, True, "hello world"]
lst1.remove("hello world")
print(lst1)

lst2_1 = ["hello world", 123, 10.00, True]
lst2_1.pop(1)
print(lst2_1)

lst2_2 = ["hello world", 123, 10.00, True]
lst2_2.pop()
print(lst2_2)

lst3_1 = ["hello world", 123, 10.00, True]
del lst3_1[0]
print(lst3_1)

lst3_2 = ["hello world", 123, 10.00, True]
del lst3_2

lst4 = ["hello world", 123, 10.00, True]
lst4.clear()
print(lst4)

การลูปเอาข้อมูลออกมาใช้ทำได้เหมือนกับ Tuple แต่มีเพิ่มมาคือ List Comprehension เป็นการย่อ for loop ให้อยู่ใน List แล้วนำค่าไปใส่ใน List นั้นได้เลย
1. for loop
2. for loop ด้วย range() และ len()
3. while loop
4. List Comprehension

In [ ]:
lst1 = ["hello world", 123, 10.00, True]
for x in lst1:
  print(x)
print("-------------")

lst2 = ["hello world", 123, 10.00, True]
for i in range(len(lst2)):
  print(lst2[i], "index %d"%i)
print("-------------")

lst3 = ["hello world", 123, 10.00, True]
i = 0
while i < len(lst3):
  print(lst3[i], "index %d"%i)
  i = i + 1
print("-------------")

lst4_1 = ["hello world", 123, 10.00, True]
[print(x) for x in lst4_1]
print("-------------")

lst4_2 = [x for x in range(5)]
print(lst4_2)

List Comprehension โดยรูปแบบการเขียนเป็นการย่อการทำงาน If และ Loop ให้อยู่ในรูปสั้นๆใน List

lst = [expression for item in iterable if condition == True]

In [ ]:
lst1 = ["hello world", "hello it", "hello kmitl"]
lst2 = []

for x in lst1:
  if "it" in x:
    lst2.append(x)

print(lst2)

lst3 = ["hello world", "hello it", "hello kmitl"]

lst4 = [x for x in lst3 if "it" in x]
# ทำงานโดยเริ่มจากการ loop เอาค่าที่อยู่ใน lst3 ออกมาก (for item in iterable) 
# แล้วเช็คว่าถ้ามีคำว่า it อยู่ใน String นั้นๆ (if condition == True)
# ให้นำ x (expression) ไปใส่ใน List หากค่า condition เป็น False จะไม่นำ x ไปใส่ใน List
print(lst4)

lst5 = [x.upper() for x in lst3 if "it" in x]
print(lst5)

lst6 = [x if "it" in x else "Not Have it" for x in lst3]
print(lst6)

การเรียงข้อมูลของ List สามารถทำได้ดังนี้
1. จากลำดับตัวอักษร ซึ่งเรียงโดยใช้รหัส ASCII ค่า Default เรียงจากน้อยไปมาก
2. จากเลขโดยค่า Default จะเรียงจากน้อยไปมาก Default เรียงจากน้อยไปมาก
3. กำหนดวิธีในการเรียงขึ้นเอง

In [ ]:
lst1 = ["graff", "elephant", "cat", "insect", "ant"]
lst1.sort()
print(lst1)

lst2 = [100, 50, 60, 80, 20]
lst2.sort()
print(lst2)

วิธีการเรียงข้อมูลด้วย sort โดยเปลี่ยนค่า Default ที่เรียงจากน้อยไปมากให้เป็นมากไปน้อย โดยการใส่ argument เพิ่มลงไปใน method sort(reverse=True)

In [ ]:
lst1 = ["graff", "elephant", "cat", "insect", "ant"]
lst1.sort(reverse=True)
print(lst1)

lst2 = [100, 50, 60, 80, 20]
lst2.sort(reverse=True)
print(lst2)

วิธีการกำหนดในการเรียงของ Sort ขึ้นเองโดยใช้ argument key ใส่ลงไปใน method sort(key=ชื่อฟังก์ชั่น)

In [ ]:
#สร้าง Function ขึ้นมาแล้ว Return ค่าที่ต้องการให้ Sort สนใจ
def convert(number):
    return abs(number - 50) #นำค่าแต่ละตัวลบ 50 แล้วทำให้กลายเป็นค่า + ตลอด

lst3 = [100, 50, 65, 82, 23]
lst3.sort(key = convert) #ค่าที่ Sort จะสนใจจากการนำข้อมูลแต่ละตัวขึ้นไปให้ ฟังก์ชั่นข้างบนนำค่าใหม่กลับมาจะได้
#key = convert ค่าที่ Sort เห็น [50, 0, 15, 32, 27] หรือ ค่าจริงๆ [100, 50, 65, 82, 23]
print(lst3) # 50 จะได้อยู่หน้าสุดเนื่องจากผ่าน key ทำให้ 50 ได้ผลลัพธ์เป็น 0 ซึ่งเป็นค่าที่น้อยที่สุดจากการใช้ key

ข้อควรระมัดระวังในการ sort string เนื่องจาก ค่า ASCII ตัวอักษร พิมพ์ใหญ่จะมีค่าน้อยกว่า ตัวอักษรพิมพ์เล็ก ถ้าหากต้องการให้เรียงข้อมูลจากตัวอักษร ไม่ว่าจะพิมพ์ใหญ่หรือ พิมพ์เล็กก็ตามให้ใช้ argument key ช่วย

In [ ]:
lst1 = ["Graff", "elephant", "Cat", "insect", "ant"]
lst1.sort()
print(lst1)

lst2 = ["Graff", "elephant", "Cat", "insect", "ant"]
lst2.sort(key = str.lower)
print(lst2)

หรือยังสลับข้อมูลจากข้างหลังไปข้างไปข้างหน้าได้โดยใช้ Method reverse()

In [ ]:
lst = ["Graff", "elephant", "Cat", "insect", "ant"]
lst.reverse()
print(lst)

วิธีการบันทึก List ไปใส่ไว้ในตัวแปรอื่นทำได้โดยการใช้
1. method copy()
2. ใช้ = ประกาศค่าตามด้วย ฟังก์ชั่น list()\
หากเราใช้ = ประกาศค่าอย่างเดียว List ตั้งต้นมีการเปลี่ยนแปลง List ที่บันทึกค่าตั้งต้นไปจะเปลี่ยนแปลงไปด้วยตลอด

In [ ]:
lst1_1 = ["Graff", "elephant", "Cat", "insect", "ant"]
list1_2 = lst1_1.copy()
print(list1_2)

lst2_1 = ["Graff", "elephant", "Cat", "insect", "ant"]
lst2_2 = list(lst2_1)
lst2_1.sort()
print(lst2_2)

lst3 = ["Graff", "elephant", "Cat", "insect", "ant"]
lst4 = lst3
lst3.sort()
print(lst3, lst4)

การรวมข้อมูลชนิด List สามารถทำได้โดยการใช้
1. ใช้เครื่องหมาย List + List
2. ลูบเอาข้อมูลแต่ละตัวออกมาใน List แล้วเอาแต่ละค่า append ใส่ในอีก List หนึ่ง
3. ใช้ method extend() รวม list อีกตัวเข้า list อีกตัวได้เลย

In [ ]:
lst1_1 = ["hello world", 123, 10.00, True]
lst1_2 = ["Graff", "elephant", "Cat", "insect", "ant"]

lst1_3 = lst1_1 + lst1_2
print(lst1_3)

lst2_1 = ["hello world", 123, 10.00, True]
lst2_2 = ["Graff", "elephant", "Cat", "insect", "ant"]

for x in lst2_2:
  lst2_1.append(x)

print(lst2_1)

lst3_1 = ["hello world", 123, 10.00, True]
lst3_2 = ["Graff", "elephant", "Cat", "insect", "ant"]

lst3_1.extend(lst3_2)
print(lst3_1)

สามารถเข้าไปดูรายละเอียดของ method ต่างของ List ได้นะครับว่าแต่ละตัวคืนค่าอะไร เขียนแบบใหน และใส่ argument อะไรเพิ่มได้บ้าง\
https://www.w3schools.com/python/python_lists_methods.asp

# Dictionary
เป็นชนิดตัวแปรที่เก็บข้อมูลหลายข้อมูลเอาไว้ในตัวแปรเดียวกัน แต่จะประกอบไปด้วย Key และ Value ซึ่ง Key จะเหมือนหมวดหมู่ของหนังสือ และ value จะเหมือนข้อมูลแต่ละหน้าที่อยู่ในหมวดหมู่หนังสือนั้นๆ Key สามารถเป็นข้อมูลชนิดใดก็ได้ ยกเว้นข้อมูลชนิด iterable ที่เป็น (List Dict Set) value เป็นได้ทุกชนิดข้อมูล

In [ ]:
book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 125.50,
    "Sale" : True,
}
print(book)

Dictionary ไม่สามารถใช้ Key หรือหมวดหมู่ซ้ำได้ ถ้ามีซ้ำจะนำ Value ของตัวสุดท้ายไปใช้แทนที่\
และสามารใช้ len เพื่อดูจำนวนชุด key:value ใน Dictionary ได้

In [ ]:
book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 95.50,
    "Price" : 125.50,
    "Sale" : True,
}
print(book)
print(len(book))

การเข้าถึงข้อมูล Value สามารถทำได้โดย
1. การใช้ Key เพื่อเรียกดู Value ของ Key นั้นๆ หรือ 
2. การใช้ Key เพื่อเรียกดู Value ใช้ Method get()
3. เรียกดู key ทั้งหมดใน Dict โดยใช้ Method keys() ค่าที่ส่งกลับมาจะเป็น List
4. เรียกดู Value ทั้งหมดโดยใช้ Method values() ค่าที่ส่งกลับมาจะเป็น List
5. เรียกดู Item หรือทั้ง key และ value โดยใช้ Method items() ค่าที่ส่งกลับมาจะเป็น List

In [ ]:
book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 125.50,
    "Sale" : True,
}
print(book["Price"])
print(book.get("Name"))
print(book.keys())
print(book.values())

สามารถเช็คว่า ข้อมูลนั้นๆ อยู่ใน key ของ Dictionary นั้นๆได้โดยการใช้ in

In [ ]:
book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 125.50,
    "Sale" : True,
}
if "Price" in book:
  print("Yes, 'Price' is one of the keys in the book dictionary")

การเปลี่ยนแปลงค่ารวมไปถึงการเพิ่มค่า key และ value ใน Dictionary ทำได้โดย
1. ใช้[] บอก key ใส่ = ตามด้วยค่า value ที่ต้องการเปลี่ยนแปลง หรือ เพิ่มข้อมูล
2. ใช้ Method update() ใส่ {key : value} ที่ต้องการเปลี่ยนแปลง หรือ เพิ่มข้อมูล

In [ ]:
book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 125.50,
    "Sale" : True,
}
book["Salse"] = False
book.update({"year": 2020})
print(book)

book['Page'] = 200
book.update({"Languages": "TH"})
print(book)

การลบข้อมูลใน Dictionary ทำได้โดย
1. ใช้ Method pop() ใส่ Key ที่ต้องการลบ Key และ Value นั้นๆออกไป
2. ใช้ Method popitem() เพื่อเอา Key และ Value ตัวสุดท้ายออก
3. ใช้ del ตามด้วย varible\[key\] ที่ต้องการลบ key และ value นั้นๆด้วย
4. ใช้ Method clear เพื่อล้างค่าที่อยู้ใน dictionary ทั้งหมดเป็น {}

In [ ]:
book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 125.50,
    "Sale" : True,
}
book.pop("Year")
print(book)

book.popitem()
print(book)

del book["Price"]
print(book)

book.clear()
print(book)

การ Loop โดยการนำค่าออกมาดูหรือใช้งาน ทำได้หลายวิธีดังนี้
1. Loop key ออกมาโดยใช้ for a_key in ตัวแปร dict
2. Loop Value ออกมาโดยการใช้ ตามข้อ 1 โดยนำ ตัวแปร dict\[a_key\] เข้าถึงค่า
3. Loop value ทั้งหมดโดยใช้ Method values()
4. Loop key ทั้งหมดโดยใช้ Method keys()
5. Loop key และ Value โดยใช้ Method items() โดยการใช้ตัวแปร Loop 2 ตัว

In [ ]:
book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 125.50,
    "Sale" : True,
}

for x in book:
  print(x, end=" ")
print()

for x in book:
  print(book[x], end=" ")
print()

for x in book.values():
  print(x, end=" ")
print()

for x in book.keys():
  print(x, end=" ")
print()

for x, y in book.items():
  print("(", x, y, ")", end=" ")

การบันทึก Dictionary สามารถทำได้โดยการ
1. ใช้ Method copy() ใส่ในตัวแปรใหม่
2. ใช้ Function dict() ใส่ในตัวแปรใหม่

In [ ]:
book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 125.50,
    "Sale" : True,
}
new_book = book.copy()
print(new_book)

book = {
    "Name": "Oof Story",
    "Unit": ["Chapter1", "Chapter2", "Chapter3"],
    "Year" : 2022,
    "Price" : 125.50,
    "Sale" : True,
}
new_book = dict(book)
print(new_book)

dictionary สามารถที่จะมี value ที่เป็น dictionary ซ้อนเข้าไปอยู่ได้

In [ ]:
store = {
  "book1" : {
    "name" : "Oof Story",
    "year" : 2004
  },
  "book2" : {
    "name" : "Tawan Story",
    "year" : 2007
  },
  "book3" : {
    "name" : "Toen Teen Story",
    "year" : 2011
  }
}

print(store)

สามารถเข้าไปดูรายละเอียดของ Method ที่กล่าวมาข้างต้นหรืออื่นๆได้ที่\
https://www.w3schools.com/python/python_dictionaries_methods.asp

# Set
เป็นชนิดตัวแปรที่เก็บข้อมูลหลายข้อมูลเอาไว้ในตัวแปรเดียวแต่ Set ไม่มีการจัดลำดับของข้อมูล หรือ ลำดับของข้อมูลจะถูก random ได้ตลอด ไม่สามารถเปลี่ยนแปลงค่าได้หลังจากประกาศและ ไม่สามารถใช้ลำดับเข้าถึงข้อมูลได้

In [ ]:
var_set = {"string", 0, True, 99.99, (1, 2, 3), 99.99} #ไม่สามารถใส่ iterable (list dictionary)ได้ ค่าที่ซ้ำจะถูกรวมให้เป็นตัวเดียว
print(var_set)

#แปลงจากค่า Tuple ได้
var_set = set(("string", 0, True, 99.99, (1, 2, 3))) # note the double round-brackets
print(var_set)

เข้าถึงได้ด้วยการ Loop และสามารถเช็คข้อมูลนั้นได้ว่าอยู่ใน Set ไหม

In [3]:
var_set = {"string", 0, True, 99.99, (1, 2, 3)}
for x in var_set:
  print(x, end=" ")
print()

var_set = {"string", 0, True, 99.99, (1, 2, 3)}
print("string" in var_set)

0 True 99.99 (1, 2, 3) string
True

การเพิ่มค่าลงใน Set มีดังนี้
1. ใช้ Method add() ใส่ค่าที่เพิ่มเข้าไป
2. ใช้ Method Update ใส่ค่าที่เป็น Iterable (tuples, lists, dictionarys, อื่นๆ) ได้ เพิ่มเข้าไปได้

In [ ]:
var_set1 = {"string", 0, True, 99.99, (1, 2, 3)}
var_set2 = ["int", "float"]

var_set1.update(var_set2)

print(var_set1)

การลบค่าใน Remove สามารถลบได้โดยการ
1. ใช้ Method remove() ใส่ค่าที่ต้องการลบใน Set ถ้าหากไม่เจอจะ Error
2. ใช้ Method discard() ใส่ค่าที่ต้องการลบใน Set ถ้าหากไม่เจอจะไม่ Error
3. ใช้ Method pop() ลบค่าอยู้ข้างหลังสุด
4. ใช้ Method clear() เพื่อล้างค่า Set ทั้งหมดเป็น set()
5. ใช้ del ตัวแปร set เพื่อลบตัวแปรออกไป

In [ ]:
var_set = {"string", 0, True, 99.99, (1, 2, 3)}
var_set.remove("string")
print(var_set)

var_set = {"string", 0, True, 99.99, (1, 2, 3)}
var_set.discard(True)
print(var_set)

var_set = {"string", 0, True, 99.99, (1, 2, 3)}
x = var_set.pop()
print(x)
print(var_set)

var_set = {"string", 0, True, 99.99, (1, 2, 3)}
var_set.clear()
print(var_set)

var_set = {"string", 0, True, 99.99, (1, 2, 3)}
del var_set
print(var_set) #เกิด Error เพราะตัวแปรโดนลบโดยหาตัวแปรไม่เจอ

Loop เอาค่า Set ออกมาโดนการใช้ for

In [1]:
var_set = {"string", 0, True, 99.99, (1, 2, 3)}

for x in var_set:
  print(x)

0
True
99.99
(1, 2, 3)
string

การรวม Set 2 Set เข้าด้วยกันทำได้แบบดังนี้
1. ใช้ Method union() หรือ ใช้ Method update() เพื่อรวม Set 2 Set ถ้ามีค่าซ้ำกันจะรวมเป็นตัวเดียว
2. ใช้ Method intersection_update() เพื่อเอาค่ามารวมแต่เลือกเฉพาะค่าที่ซ้ำกันออกมาเปลี่ยนค่าอยู่ในตัวแปรเดิม
3. ใช้ Method intersection() เพื่อเอาค่ามารวมแต่เลือกเฉพาะค่าที่ซ้ำกันออกมาเปลี่ยนแปลงค่าอยู่ในตัวแปรใหม่
4. ใช้ Method symmetric_difference_update() เพื่อหาค่าที่แตกต่างกันทั้งหมดออกมาเปลี่ยนแปลงค่าอยู่ในตัวแปรเดิม
5. ใช้ Method symmetric_difference() เพื่อหาค่าที่แตกต่างกันทั้งหมดออกมาเปลี่ยนแปลงค่าอยู่ในตัวแปรใหม่

In [75]:
var_set1 = {"string", 0, True, 99.99, (1, 2, 3)}
var_set1_1 = {0, 1, 2, 3}
var_set = var_set1.union(var_set1_1)

var_set1_2 = {"Text", True, 12.13}
var_set1.update(var_set1_2)
print(var_set1)

var_set2_1 = {"string", 0, True, 99.99, (1, 2, 3)} 
var_set2_2 = {"string", 5, False, 3.14, (11, 12, 13)}
var_set2_1.intersection_update(var_set2_2)
print(var_set2_1) #0 กับ False มีค่าเหมือนกัน

var_set3_1 = {"string", 0, True, 99.99, (1, 2, 3)}
var_set3_2 = {"string", 5, False, 3.14, (11, 12, 13)}
var_set3 = var_set3_1.intersection(var_set3_2)
print(var_set3) #0 กับ False มีค่าเหมือนกัน

var_set4_1 = {"string", 0, True, 99.99, (1, 2, 3)}
var_set4_2 = {"string", 5, False, 3.14, (11, 12, 13)}
var_set4_1.symmetric_difference_update(var_set4_2)
print(var_set4_1)

var_set5_1 = {"string", 0, True, 99.99, (1, 2, 3)}
var_set5_2 = {"string", 5, False, 3.14, (11, 12, 13)}
var_set5 = var_set5_1.symmetric_difference(y)
print(var_set5)

{0, True, 99.99, 'Text', (1, 2, 3), 12.13, 'string'}
{False, 'string'}
{False, 'string'}
{True, 99.99, 3.14, 5, (11, 12, 13), (1, 2, 3)}
{0, True, 99.99, 'microsoft', (1, 2, 3), 'google', 'apple', 'string'}

สามารดูรายละเอียดหรือ Method ของ Set เพิ่มเติมได้ที่\
https://www.w3schools.com/python/python_sets_methods.asp

# เทคนิคเพิ่มเติม

การรับ Input ที่ได้มา ทำให้อยู่ในรูปของ List ได้โดยการใช้ String method split() โดยที่ split จะแบ่ง String ที่ขั้นกันด้วย " " (default) ให้คืนค่ากลับมาเป็น List ให้เรา

In [80]:
txt = "1 2 3 4" #เลขขั้นกันด้วย " "
x = txt.split(" ") #default เป็น " " ดังนั้นใส่หรือไม่ใส่ก็ได้
print(x, tuple(x), set(x)) #x return เป็น List หรือแปลงให้เป็น Iterable อื่นๆได้

['1', '2', '3', '4'] ('1', '2', '3', '4') {'3', '4', '1', '2'}

การใช้ Method มีข้อควรระวังโปรดตรวจสอบว่า Method นั้นๆคืนค่าอะไรหรือทำงานอย่างไรให้ดีเช่น sort() กับ sorted()

In [82]:
lst1 = ["graff", "elephant", "cat", "insect", "ant"]
print(lst1.sort()) # คืนค่าเป็น None หรือ ความหมายโดยนัยคือไม่มีค่าที่ส่งกลับคืนจากการเรียกใช้ แต่มีการทำงานไปแล้ว
print(lst1)

lst2 = ["graff", "elephant", "cat", "insect", "ant"]
print(sorted(lst2)) #คืนค่าเป็น lst2 ที่ถูก Sort โดย lst2 ยังมีค่าคงเดิมไม่ถูก sort ไปด้วย
print(lst2)

None
['ant', 'cat', 'elephant', 'graff', 'insect']
['ant', 'cat', 'elephant', 'graff', 'insect']
['graff', 'elephant', 'cat', 'insect', 'ant']

lambda เป็นการสร้างฟังก์ชั่นที่ไม่ต้องมรชื่อ ฟังก์ชั่นโดยมีรูปแบบการเขียนคือ lambda arguments(ตัวแปรที่ส่งมา) : expression การดำเนินการที่ต้องการ

In [87]:
x = lambda a, b : a * b
print(x(5, 6))

def funct(n):
  return lambda a : a * n

double = funct(2)

print(double(11))

30
22